
<div class="sc-choice-structure-col">
    <div ng-click="choice.deleteThisItem(structure.index)" class="upperSelectedRow"
         ng-repeat="structure in choice.data.aDo | filter:true " >
        <i class="far fa-times-circle uperSelectedIcon"></i>
        <h3 class="uperSelectedTegs">
            {{structure.sDo}}</h3>
    </div>
</div>
<div class="sc-choice-structure-col">
    <div class="sc-choice-structure" ng-click="choice.selectObject(structure.index)"
         ng-repeat="structure in choice.data.aDoTags| filter:choice.isVandN() "
        >
        <h3 class="sc-structure-heading" ng-class="{selectTeg: structure.selected==true }">
            {{structure.sObject}}</h3>
    </div>
</div>