<!--Пункт меню 01 Профиль-->
<div ng-class="menu.activeClass('profile')" class="sc-menu-li">
    <a ui-sref="{{menu.data[0].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[0].num}}</span>{{menu.data[0].item}}
        </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">{{menu.data[0].discr}}</p>
            </div>
        </div>
    </a>
</div>

<!--Пункт меню 02 Выбор-->
<div ng-class="menu.activeClass('choice')" class="sc-menu-li">
    <a ui-sref="{{menu.data[1].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[1].num}}</span>{{menu.data[1].item}}
        </h2>
        <div class="sc-menu-details" ng-repeat="item in menu.data[1].child">
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading" ng-click="menu.changePageChoice()"
                    ng-class="{colorBlue:menu.page==( $index+1) }">{{item.name}}</h3>
                <p class="sc-menu-desc-p">{{item.discr}}</p>
            </div>
        </div>
    </a>
</div>


<!--Пункт меню 03 Позиции-->
<div ng-class="menu.activeClass('position')" class="sc-menu-li">
    <a ui-sref="{{menu.data[2].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[2].num}}</span>{{menu.data[2].item}}
        </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc" ng-repeat="item in menu.data[2].child">
                <p class="sc-menu-desc-p" ng-click="menu.changeModel($index)"
                   ng-class="{colorBlue:(menu.positionSettings.show=='model'&& $index==0)||(menu.positionSettings.show=='user'&& $index==1)}">
                    {{item.discr}}</p>
            </div>

            <div ng-click="menu.acFilter(menu.data[2])" class="sc-menu-desc ">
                <h3 class="sc-menu-desc-heading sc-menu-pop-filter">{{menu.data[2].nameFlt}} </h3>
            </div>

            <div ng-show="menu.data[2].showFlt">
                <div class="sc-menu-desc">
                    <p class="sc-menu-desc-p">{{menu.data[2].discrFlt}}</p>
                </div>

                <div class="sc-menu-desc" ng-repeat="item in menu.data[2].childFlt" ng-if="item.type !== 'slider'">
                    <h3 class="sc-menu-desc-heading">{{item.name}}</h3>
                    <div class="sc-grade-filter">
                        <div class="sc-grade"
                             ng-class="{scGradeGray:menu.positionSettings.grade[menu.profileData.user.iGrade -2+$index]}"
                             ng-click="menu.gradeFltClick($index,$value)"
                             ng-repeat="gr in menu.range(5) track by $index">{{menu.profileData.user.iGrade -2+$index}}
                        </div>
                    </div>
                </div>

                <div class="sc-menu-desc" ng-repeat="item in menu.data[2].childFlt" ng-if="item.type === 'slider'">
                    <h3 class="sc-menu-desc-heading">{{item.name}}</h3>
                    <div class="filter-range range-slider-grade">
                        <rzslider rz-slider-model="menu.sliders[item.id].minValue"
                                  rz-slider-high="menu.sliders[item.id].maxValue"
                                  rz-slider-options="menu.sliders[item.id].options"></rzslider>
                    </div>
                </div>

                <div class="sc-menu-desc">
                    <h3 class="sc-menu-desc-heading color-red"> Отфильтровать </h3>
                </div>
            </div>
        </div>
    </a>
</div>


<!--Пункт меню 04 Компетенции-->
<div ng-class="menu.activeClass('competences')" class="sc-menu-li">
    <a ui-sref="{{menu.data[3].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[3].num}}</span>{{menu.data[3].item}}
        </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">{{menu.data[3].discr}}</p>
            </div>
            <div class="sc-menu-desc " ng-repeat="item  in menu.data[3].child ">
                <h3 class="sc-menu-desc-heading">{{item.name}}</h3>
                <p class="sc-menu-desc-p">{{item.discr}}</p>
            </div>

        </div>
    </a>
</div>
<!--Пункт меню 05 Цели-->

<div ng-class="menu.activeClass('targets')" class="sc-menu-li">
    <a ui-sref="{{menu.data[4].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[4].num}}</span>{{menu.data[4].item}} {{menu.getGoalsQuantity()}}</h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">{{menu.data[4].discr}}</p>
            </div>
        </div>
    </a>
</div>

<!--Пункт меню 06 Инструменты-->
<div ng-class="menu.activeClass('instruments')" class="sc-menu-li">

    <a ui-sref="{{menu.data[5].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[5].num}}</span>{{menu.data[5].item}} </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p" ng-repeat="goal in menu.goalsData.goals" ng-click="menu.switchGoal($event, goal, $index)"> Цель {{$index + 1}}</p>
            </div>


        </div>
    </a>
</div>

<!--Пункт меню 07 ИПР-->
<div ng-class="menu.activeClass('ipr')" class="sc-menu-li get-apply-button">
    <a ui-sref="{{menu.data[6].page}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[6].num}}</span>{{menu.data[6].item}}
        </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc" ng-repeat="item in menu.data[6].child">
                <h3 class="sc-menu-desc-heading">{{item.name}}</h3>
            </div>
        </div>
    </a>
</div>

</div>
<div class="button_next" ng-click="menu.changePageChoice()" ng-show="menu.state=='choice'">{{menu.btnText}}</div>