
    <div href="#/!" ng-click="menu.onMainMenuClick()" ng-if="" class="sc-menu-li {{menu.activeClass}}">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[0].num}}</span>{{menu.data[0].item}}</h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">{{menu.data[0].discr}}</p>
            </div>
        </div>
    </div>

    <div  href="#!banana" id="id_menu-details" class="sc-menu-li">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[1].num}}</span>{{menu.data[1].item}} </h2>
        <div class="sc-menu-details">
            <div id="id_choice-by-desire" class="sc-menu-desc choice-by-desire">
                <h3 class="sc-menu-desc-heading">{{menu.data[1].child[0].name}}</h3>
                <p class="sc-menu-desc-p">{{menu.data[1].child[0].discr}}</p>
            </div>
            <div class="sc-menu-desc choice-by-structure">
                <h3 class="sc-menu-desc-heading">{{menu.data[1].child[1].name}}</h3>
                <p class="sc-menu-desc-p">{{menu.data[1].child[1].discr}}</p>
            </div>
        </div>
    </div>
    <div class="sc-menu-li">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">{{menu.data[2].num}}</span>{{menu.data[2].item}} </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p ng-click="showModelPosition()" class="sc-menu-desc-p">{{menu.data[2].child[0].discr}}</p>
            </div>
            <div class="sc-menu-desc">
                <p ng-click="showUserPosition()" class="sc-menu-desc-p">{{menu.data[2].child[1].discr}}</p>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading sc-menu-pop-filter"> Фильтр </h3>
            </div>
            <div class="sc-menu-filter-position">
                <div class="sc-menu-desc">
                    <p class="sc-menu-desc-p">Мы не будем показывать вам позиции, не подходящие под диапазон
                        характеристик</p>
                </div>
                <div class="sc-menu-desc">
                    <h3 class="sc-menu-desc-heading">Оборачиваемость</h3>
                    <p class="sc-menu-desc-p">от <input class="sc-menu-filter-input color-red turnover-from"
                                                        placeholder="1"> до <input
                            class="sc-menu-filter-input color-red turnover-to" placeholder="25"></p>
                </div>
                <div class="sc-menu-desc">
                    <h3 class="sc-menu-desc-heading">Грейд</h3>
                    <p class="sc-menu-desc-p">от <input class="sc-menu-filter-input color-red grade-from"
                                                        placeholder="1"> до <input
                            class="sc-menu-filter-input color-red grade-to" placeholder="25"></p>
                </div>
                <div class="sc-menu-desc">
                    <h3 class="sc-menu-desc-heading color-red"> Отфильтровать </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="sc-menu-li">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">04.</span>Компетенции </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">Выберите индикаторы компетенций для развития</p>
            </div>

            <div class="sc-menu-desc show-by-position">
                <h3 class="sc-menu-desc-heading">По позициям</h3>
                <p class="sc-menu-desc-p">Показываем компетенции по позициям</p>
            </div>
            <div class="sc-menu-desc show-by-competences">
                <h3 class="sc-menu-desc-heading">По пересечениям</h3>
                <p class="sc-menu-desc-p">Показываем пересекающиеся компетенции</p>
            </div>
        </div>
    </div>

    <div class="sc-menu-li">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">05.</span>Цели </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">Опишите цели по изучению индикаторов</p>
            </div>
        </div>
    </div>

    <div class="sc-menu-li">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">06.</span>Инструменты </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <p class="sc-menu-desc-p">Укажите инструменты, которыми вы будете добиваться целей</p>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 1</h3>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 2</h3>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 3</h3>
            </div>
        </div>
    </div>

    <div class="sc-menu-li get-apply-button">
        <h2 class="sc-menu-heading"><span class="sc-menu-heading-number">07.</span>ИПР </h2>
        <div class="sc-menu-details">
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 1</h3>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 2</h3>
            </div>
            <div class="sc-menu-desc">
                <h3 class="sc-menu-desc-heading">Цель 3</h3>
            </div>
        </div>
    </div>

    <h2 class="sc-menu-apply color-red"> Согласовать с руководителем </h2>
