.colorHeartGray{
   color: #555555;
}
.colorHeartRed{
    color: #ff3d46;
}
.heart{
    font-size: 28px;
    margin-left: 5px;
    margin-top: -5px;
}

.smallMenu{
    display: flex;
    width: 100%;
    height: 120px;
}

.bigMenu{
    padding-left: 10px;
    width: 100%;
    height: 250px;
}


.smallMenuSwiper{
    height: calc(100% - 120px)!important;
}
.bigMenuSwiper{
    height: calc(100% - 250px)!important;
}


.scSwHeader-likeContent{
    margin-left: 20%!important;
    margin-top: -6px!important;
}