<h2 class="sc-slide-heading"> {{instruments.currentGoal.label}} </h2>

<p class="tools-text">
    {{instruments.currentGoal.goal.sIndicatorName}}
</p>

<div class="tools-slider-menu">
    <div class="tools-menu-element" ng-repeat="tool in instruments.toolsHeadings" ng-click="instruments.switchTool($index)"> {{tool}}</div>
    <div class="tools-underline"></div>
</div>

<div class="preloader-wrapper" ng-show="instruments.preloader.show">
    <div class="preloader">
        <div class="circle"></div>
    </div>
</div>

<div class="tools-sections" ng-show="!instruments.preloader.show">

    <div class="tools-section" ng-show="!instruments.preloader.show">
        <!--<h3 class="sc-slide-middle-heading"> Практические советы </h3>-->
        <div class="tools-col" ng-repeat="advise in instruments.instrumentsData.instruments | filter: {sType: 'advise'}">
            <h4 class="tools-small-heading"> {{advise.sName}} </h4>
            <p class="tools-text"> {{advise.sDescription}} </p>
            <p class="add-tool add-book" ng-click="instruments.addToIpr(advise)"> Запомнить совет </p>
        </div>
    </div>

    <div class="tools-section" ng-show="!instruments.preloader.show">
        <!--<h3 class="sc-slide-middle-heading"> Книги </h3>-->

        <div class="book" ng-repeat="book in instruments.instrumentsData.instruments | filter: {sType: 'book'}">
            <h4 class="tools-heading"> {{book.sName}} </h4>
            <div class="slide-row book-info">
                <div class="book-img"></div>
                <div class="book-description">
                    <h4 class="tools-small-heading"> {{book.sAuthor}} </h4>
                    <p class="tools-text"> Классическая книга о системах, к которым относятся и
                        футбольная команда, и экономическая система, и система пищеварения, и
                        система отопления, и другие. О том, как воздействовать на такие системы и
                        как они функционируют. </p>
                    <p class="add-tool add-book" ng-click="instruments.addToIpr(book)"> В список для чтения </p>
                </div>
            </div>
        </div>
    </div>

    <div class="tools-section" ng-show="!instruments.preloader.show">
        <!--<h3 class="sc-slide-middle-heading"> Обучающие видео </h3>-->

        <div class="video" ng-repeat="video in instruments.instrumentsData.instruments | filter: {sType: 'video'}">
            <h4 class="tools-heading"> {{video.sName}} </h4>
            <p class="tools-text"><a href="{{video.sUrl}}"> Ссылка на просмотр</a> </p>
            <p class="add-tool add-book" ng-click="instruments.addToIpr(video)"> В список для просмотра </p>
        </div>
    </div>

    <div class="tools-section" ng-show="!instruments.preloader.show">
        <!--<h3 class="sc-slide-middle-heading"> Очные курсы </h3>-->

        <div class="planned-courses" ng-repeat="course in instruments.instrumentsData.instruments | filter: {sType: 'course'}">
            <h4 class="tools-heading"> {{course.sName}}  </h4>
            <div class="tools-col">
                <!--<h4 class="tools-small-heading"> </h4>-->
                <div class="slide-row">
                    <div class="tools-col"> Статус </div>
                    <div class="tools-col"> Обучение назначено</div>
                </div>
                <div class="slide-row">
                    <div class="tools-col"> Дата</div>
                    <div class="tools-col"> 12.06.2018</div>
                </div>
                <p class="add-tool add-book" ng-click="instruments.addToIpr(course)"> Записаться на курс </p>
            </div>
        </div>
    </div>
</div>


