<div id="sc-competences" class="sc-main-slide">
    <div class="competences-slide sc-v-slide">
        <div class="competences-by-position">
            <div class="competences-h-slide competences-by-position-list">

                <div class="competence-position" ng-repeat="position in model.aPositions"
                     ng-click="getPositionCompetences($index, position)">
                    <h3 class="competence-position-heading"> {{position.sJobProfileName}} </h3>
                    <p class="competence-position-conformity"> Соответствие <span
                            class="conformity-bold"> 87 </span></p>
                    <p class="competence-position-competences"> Компетенции </p>
                </div>
            </div>
            <div class="competences-h-slide competences-by-position-current">
                <h2 class="sc-slide-heading"> {{positionCurrent.sJobProfileName}} </h2>
                <div class="back-button-competence back1" ng-click="getBack(0)"> Назад</div>
                <div id="swiper-cpos-container" class="swiper-container swiper-auto-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="competence-position-current"
                                 ng-repeat="competence in currentPositionCompetences">
                                <h3 class="competence-position-heading"> {{competence.sCompetentionName}}</h3>
                                <p class="competence-position-conformity"> Соответствие <span class="conformity-bold"> {{competence.iUserCompProc}} </span>
                                </p>
                                <p class="competence-position-competences"> Индикаторы </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="competences-h-slide competences-by-position-competence"></div>
        </div>
        <div class="competence-by-intersections">
            <div id="swiper-intersections-container" class="swiper-container swiper-auto-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">

                        <div class="competence-position-current"
                             ng-repeat="competence in model.aCompetetionIntersection">
                            <h3 class="competence-position-heading"> {{competence.sCompetentionName}} </h3>
                            <p class="competence-position-conformity"> Соответствие <span
                                    class="conformity-bold"> {{competence.iUserCompProc}}</span></p>
                            <p class="competence-position-intersection"> Встречается в <span class="conformity-bold"> {{competence.iCount}} </span>
                            </p>
                            <p class="competence-position-competences"> Индикаторы </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>