<div id="sc-competences" class="sc-main-slide">
    <div class="competences-slide sc-v-slide">
        <div class="competences-by-position">
            <div class="competences-h-slide competences-by-position-list">

                <div class="competence-position" ng-repeat="position in competences.data.aPositions"
                     ng-click="competences.getPositionCompetences($index, position)">
                    <h3 class="competence-position-heading"> {{position.sJobProfileName}} </h3>
                    <p class="competence-position-conformity"> Соответствие <span
                            class="conformity-bold"> 87 </span></p>
                    <p class="competence-position-competences"> Компетенции </p>
                </div>
            </div>

            <div class="competences-h-slide competences-by-position-current">
                <h2 class="sc-slide-heading"> {{competences.positionCurrent.sJobProfileName}} </h2>
                <div class="back-button-competence back1" ng-click="competences.getBack(0)"> Назад</div>

                <div class="competence-position-current"
                     ng-repeat="competence in competences.currentPositionCompetences"
                     ng-click="competences.getCompetencesIndicators($event, $index, competence)">
                    <h3 class="competence-position-heading"> {{competence.sCompetentionName}}</h3>
                    <p class="competence-position-conformity"> Соответствие <span class="conformity-bold"> {{competence.iUserCompProc}} </span>
                    </p>
                    <p class="competence-position-competences" ng-if="competence.sCompetentionType === 'Corp'"> Индикаторы </p>
                </div>
            </div>
            <div class="competences-h-slide competences-by-position-competence">
                <h2 class="sc-slide-heading competence-name"> {{competences.competenceCurrent.sCompetentionName}} </h2>
                <div class="back-button-competence back2" ng-click="competences.getBack(1)"> Назад</div>
                <p class="competence-about" ng-repeat="indicator in competences.currentCompetencesIndicators" ng-click="competences.chooseIndicator($event, indicator, competences.competenceCurrent)">
                    {{indicator.sIndicatorName}} </p>
            </div>
        </div>
        <div class="competence-by-intersections">

            <div class="competence-position-current"
                 ng-repeat="competence in model.aCompetetionIntersection">
                <h3 class="competence-position-heading"> {{competence.sCompetentionName}} </h3>
                <p class="competence-position-conformity"> Соответствие <span
                        class="conformity-bold"> {{competence.iUserCompProc}}</span></p>
                <p class="competence-position-intersection"> Встречается в <span class="conformity-bold"> {{competence.iCount}} </span>
                </p>
                <p class="competence-position-competences"> Индикаторы </p>
            </div>

        </div>
    </div>
</div>