.tools-slider-menu {
    margin-top: 20px;
    height: 40px;
    position: relative;
    display: flex;
}

.tools-menu-element {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools-sections {
    display: flex;
    width: 400%;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}

.tools-section {
    width: 25%;
    padding-right: 30px;
}

.tools-slider-menu {
    margin-right: 30px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.tools-menu-element {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.tools-underline {
    position: absolute;
    height: 2px;
    width: 25%;
    bottom: -1px;
    left: 0;
    background: #007aff;
    border-radius: 1px 1px 0 0;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
}