.sc-position__item {
    display: flex;
    margin-top: 25px;
}

.sc-position__icon-block {
    width: 40px;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
}

.sc-position__icon-block > .far {
    color: #555555;
}

.sc-position__icon-block > .fas {
    color: #ff3d46;
}

.sc-position__content {
    width: auto;
    padding-left: 15px;
}

.sc-position__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: #16181c;
    margin-bottom: 10px;
}

.sc-position__elements {
    width: 100%;
    display: flex;
    align-items: center;
}

.sc-position__element {
    display: flex;
    align-items: center;
}

.sc-position__element:nth-child(n+2) {
    margin-left: 15px;
}

.sc-position__label {
    font-size: 16px;
    font-weight: normal;
    color: #8d8d8d;
    margin-right: 6px;
}

.sc-position__conformity,
.sc-position__turnover {
    color: #16181c;
    font-weight: 600;
}

.sc-position__grade {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.current_grade{

    color: black!important;
    border: 1px solid #015a9a;
}



.position-liked-wrapper .fa-heart {
    font-size: 50px;
    color: #ff3d46;
}

.positions-liked-number {
    font-size: 60px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -2px;
    color: #ff3d46;
}

.sc-grade-filter {
    display: flex;
    margin-top: 10px;
}

.sc-grade {
    margin-right: 10px;
    width: 27px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    color: #fff;
   background: #007aff;
    border-radius: 50%;
    cursor: pointer;
}
.scGradeGray {
    background: #adb3bc!important;
}


.sc-grade.active {
    background: #007aff;
}



.sc-main-slide_pos{
    width: 200%;
    height: 50%;
    display: flex;
    overflow: hidden;
    -webkit-transition: transform 0.4s;
    -moz-transition: transform 0.4s;
    -ms-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
}

.green_box {
    width: 50%;
    /*background: green;*/
    position: relative;
    height: 100%;
    left: 50%;
}


.your-item__elements {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.your-item__element:not(:last-child) {
    margin-right: 15px;
}

.your-item__element>span,
.your-item__element>b {
    font-size: 16px;
    font-weight: normal;
    color: #8d8d8d;
}

.your-item__element>b {
    color: #16181c;
    font-weight: 600;
}

.main__wrapper h2{

    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #16181c;
    margin-bottom: 20px
}

.your-item__element>span:last-child {

    display: block;
    font-size: 16px;
    margin-top: -4px;
    margin-left: 9px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: normal;
    text-align: center;
    float: right;

}


.main__nav{

}
.main__nav > ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px
}

.main__nav > ul > li > span {

    font-size: 20px;
    font-weight: bold;
    color: #16181c;
}
.main__nav > ul > li:not(:last-child) {
    margin-right: 30px;
}
.main__nav > ul > li.active > span{
    color: #007aff;
    border-bottom: 2px solid #007aff;
}

.main-blocks {
    display: flex;
}
.main-blocks > div {
    width: 100%;
}
.main-blocks__column_right {
    margin: 0 0 auto auto
}
.main-blocks__item {
    float: left;
    width: 50%;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #16181c;
}

.main__title_h3 {

    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #16181c;
}

.smallMenu{
       display: flex;
       width: 100%;
       height: 90px;
   }

.bigMenu{
    padding-left: 10px;
    width: 100%;
    height: 180px;
}