.sc-position__item {
    display: flex;
    margin-top: 25px;
}

.sc-position__icon-block {
    width: 40px;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
}

.sc-position__icon-block > .far {
    color: #555555;
}

.sc-position__icon-block > .fas {
    color: #ff3d46;
}

.sc-position__content {
    width: auto;
}

.sc-position__title {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.3px;
    color: #16181c;
    margin-bottom: 10px;
}

.sc-position__elements {
    width: 100%;
    display: flex;
    align-items: center;
}

.sc-position__element {
    display: flex;
    align-items: center;
}

.sc-position__element:nth-child(n+2) {
    margin-left: 15px;
}

.sc-position__label {
    font-size: 16px;
    font-weight: normal;
    color: #8d8d8d;
    margin-right: 6px;
}

.sc-position__conformity,
.sc-position__turnover {
    color: #16181c;
    font-weight: 600;
}

.sc-position__grade {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background: #007aff;
}
