<div class="sc-main-slide">
    <div id="sc-profile" class="profile-slide sc-v-slide">
        <div class="swiper-container swiper-profile-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <h2 class="sc-slide-heading profile-name">{{profile.data.sFullName}}</h2>

                    <div class="slide-profile-col">
                        <div class="slide-profile-obligation-info">
                            <h3 class="sc-slide-middle-heading"> Текущая должность </h3>
                            <p class="sc-profile-obligation"> {{profile.data.sPosition}} </p>
                            <p class="sc-profile-obligation-from"> на текущей позиции
                                {{profile.data.iCountExperienceYear}} год</p>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-competences">
                            <h3 class="sc-slide-middle-heading"> Компетенции </h3>
                            <h4 class="sc-profile-competences-heading">Корпоративные</h4>
                            <div class="sc-profile-competences-wrapper clearfix">
                                <div class="profile-competence" ng-repeat="competence in profile.data.aCompetentions"
                                     ng-if="competence.sType === profile.competencesTypes[0]">
                                    <p class="profile-competence-label"> {{competence.sFullName}} </p>
                                    <p class="profile-competence-ratings"><span class="profile-competence-rating"> {{competence.iRate360}} </span>
                                    </p>
                                </div>
                            </div>
                            <h4 class="sc-profile-competences-heading">Ролевые</h4>
                            <div class="sc-profile-competences-wrapper clearfix">
                                <div class="profile-competence" ng-repeat="competence in  profile.data.aCompetentions"
                                     ng-if="competence.sType === profile.competencesTypes[1]">
                                    <p class="profile-competence-label"> {{competence.sFullName}} </p>
                                    <p class="profile-competence-ratings"><span class="profile-competence-rating"> {{competence.iRate360}} </span>
                                    </p>
                                </div>
                            </div>
                            <h4 class="sc-profile-competences-heading">Профессиональные</h4>
                            <div class="sc-profile-competences-wrapper clearfix">
                                <div class="profile-competence" ng-repeat="competence in  profile.data.aCompetentions"
                                     ng-if="competence.sType === profile.competencesTypes[2]">
                                    <p class="profile-competence-label"> {{competence.sFullName}} </p>
                                    <p class="profile-competence-ratings"><span class="profile-competence-rating"> {{competence.iRate360}} </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-skills">
                            <h3 id="id_nav" class="sc-slide-middle-heading"> Навыки </h3>

                            <div class="profile-skill-col" ng-repeat="skill in profile.data.aSkills">
                                <h4 class="profile-skill-label"> {{skill.sName}} </h4>
                                <div class="profile-skill-rating slide-row">
                                    <p class="profile-skill-name">Оценка</p>
                                    <div class="profile-skill-stars">
                                        <div class="profile-skill-stars-filled-wrapper"
                                             style="width: {{skill.iManagerRate * 20}}% ">
                                            <div class="profile-skill-stars-filled">
                                                <div class="profile-skill-star"
                                                     ng-repeat="a in profile.range(5) track by $index"></div>
                                            </div>
                                        </div>
                                        <div class="profile-skill-stars-rated">
                                            <div class="profile-skill-star"
                                                 ng-repeat="a in profile.range(5) track by $index"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="profile-skill-rating slide-row">
                                    <p class="profile-skill-name">Самооценка</p>
                                    <div class="profile-skill-stars">
                                        <div class="profile-skill-stars-filled-wrapper"
                                             style="width:{{skill.iPersonRate * 20}}% ">
                                            <div class="profile-skill-stars-filled">
                                                <div class="profile-skill-star"
                                                     ng-repeat="a in profile.range(5) track by $index"></div>
                                            </div>
                                        </div>
                                        <div class="profile-skill-stars-rated">
                                            <div class="profile-skill-star"
                                                 ng-repeat="a in profile.range(5) track by $index"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="slide-profile-col">
                        <div class="slide-profile-skills">
                            <h3 class="sc-slide-middle-heading"> Дополнительные навыки </h3>

                            <div class="add-block">
                                <div class="add-skill-hr" ng-show="{{profile.showAdditionalSkill}}"></div>
                                <div class="add-skill-form" ng-show="{{profile.showAdditionalSkill}}">
                                    <input type="text" class="add-new-skill-input" placeholder="Опишите свой навык"
                                           ng-model="additionalSkillName">
                                    <div class="add-skill-checkbox">
                                        <p class="add-skill-checkbox-label"> Самооценка </p>
                                        <div class="add-skill-checkbox-wrapper">
                                            <input id="1star" type="radio" name="self-rating" class="add-skill-check">
                                            <label for="1star" class="add-skill-label"></label>
                                            <input id="2star" type="radio" name="self-rating" class="add-skill-check">
                                            <label for="2star" class="add-skill-label"></label>
                                            <input id="3star" type="radio" name="self-rating" class="add-skill-check">
                                            <label for="3star" class="add-skill-label"></label>
                                            <input id="4star" type="radio" name="self-rating" class="add-skill-check">
                                            <label for="4star" class="add-skill-label"></label>
                                            <input id="5star" type="radio" name="self-rating" class="add-skill-check">
                                            <label for="5star" class="add-skill-label"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="add-new-skill add-buttons color-blue" ng-click="profile.addNewSkill($event)">
                                    Добавить
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-achievements">
                            <h3 class="sc-slide-middle-heading"> Достижения в развитии </h3>
                            <div class="add-additional-skill add-buttons color-blue"> Добавить</div>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-achievements">
                            <h3 class="sc-slide-middle-heading"> Карьера </h3>
                            <div id="id_education" class="profile-education">

                                <div class="timeline">
                                    <div class="timeline-line"></div>
                                    <div class="timeline-element" ng-repeat="job in profile.data.aJobs">
                                        <div class="timeline-when"> {{job.sFrom}} - {{job.sTo}}</div>
                                        <div class="timeline-center">
                                            <div class="timeline-circle"></div>
                                        </div>
                                        <div class="timeline-what">
                                            <h3 class="timeline-what-heading"> {{job.sPosition}} </h3>
                                            <p class="timeline-what-text"> {{job.sPosition}}, {{job.sDepartment}} </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-results">
                            <h3 class="sc-slide-middle-heading"> Мои результаты деятельности </h3>
                            <div class="profile-results">
                                <div class="timeline">
                                    <div class="timeline-line"></div>
                                    <div class="timeline-element" ng-repeat="result in profile.data.aResults">
                                        <div class="timeline-when"> {{result.iYear}}</div>
                                        <div class="timeline-center">
                                            <div class="timeline-circle"></div>
                                        </div>
                                        <div class="timeline-what">
                                            <h3 class="timeline-what-heading"> {{result.sAchivement}} </h3>
                                            <p class="timeline-what-text"> {{result.sDescription}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-achievements">
                            <h3 class="sc-slide-middle-heading"> Достижения </h3>
                            <div class="add-additional-skill add-buttons color-blue"> Добавить</div>
                        </div>
                    </div>

                    <div class="slide-profile-col">
                        <div class="slide-profile-about">
                            <h3 class="sc-slide-middle-heading"> О себе </h3>
                            <div class="add-additional-skill add-buttons color-blue"> Добавить</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>